{% extends "bigbox/base.html" %}
{% block title %}Boxes{% endblock %}

{% load box_simple_tag %}
{% block content %}
<section class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto pb-5">
                <div class="text-dark">
                    <h2 class="py-3">Regala experiencias</h2>
                    <p>Momentos para vivir dentro y fuera de casa.</p>
                    <h4 class="py-3">Ruta por ID</h4>
                    <ul class="pb-2 list-group">
                        {% for box in boxes %}
                            <li class="list-group-item pl-4"><a href="{% url 'bigbox:box_detail' box.id %}">{{ box.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <h4 class="py-3">Ruta por SLUG</h4>
                    <ul class="list-group">                 
                        {% get_box_list as boxes_all %}
                        {% for box in boxes_all %}
                            <li class="list-group-item pl-4">
                                <a href="{% url 'bigbox:tag' box.slug|slugify %}">{{ box.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}