{% extends "bigbox/base.html" %}
{% block title %}Página de prueba{% endblock %}

{% block content %}
<section class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto pb-5">
                <div class="text-dark">
                    <h2 class="py-3">Nombre</h2>
                    <p>Descripción.</p>
                    <h3 class="py-3">Acerca de esta Bigbox:</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cantidad personas</li>
                        <li class="list-group-item">¿Hasta cuándo se puede usar?</li>
                        <li class="list-group-item">Cantidad de opciones</li>
                        <li class="list-group-item">¿Es intercambiable?</li>
                    </ul>
                    <h4 class="py-4">Formatos del regalo:</h4>
                    <p>Seleccionar digital o físico.</p>
                    <h2 class="py-3">$1300 - $9000</h2>
                    <h3 class="pt-4 pb-2">Dentro del regalo:</h3>
                    <p>Tu agasajado va a poder elegir una de estas experiencias:
                    <h5>Lista de experiencias.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}